<nav>
    <div class="container">
        <div class="grid">
            <a href="#" id="logo">
                <img src="/assets/logo.png" alt="logo">
            </a>
            <ul id="primary-menu">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
                <li>
                    <a href="">Resume</a>
                </li>
                <li>
                    <a href="">Projects</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li><a href="">Pages</a></li>
            </ul>
            <ul id="social-links">
                <li><app-social-button link="http://facebook.com" icon="github"></app-social-button></li>
                <li><app-social-button link="http://twitter.com" icon="twitter"></app-social-button></li>
                <li><app-social-button link="http://linkedin.com" icon="linkedin"></app-social-button></li>
            </ul>
        </div>
    </div>
</nav>
