a{
    color: #adb5bd;
    border: 1px solid #adb5bd;
    color: #3c4858;
    border-color: #3c4858;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
}

a:hover{
    border-color: #e54b4b !important;
    background-color: #e54b4b !important;
    color: #ffffff !important;
}

mat-icon{
    transform: scale(0.7);
}